/* Titles
   ========================================================================== */
$h1-font-size:  2em;
$h2-font-size: 1.75em;
$h3-font-size: 1.5em;
$h4-font-size: 1.3em;
$h5-font-size: 1.15em;
$h6-font-size: 1em;
