$error-404-container-margin: 26%;
$error-404-container-padding: 40px;
$error-404-h1-font: 5em;

$error-404-bunny-min-width: 250px;
$error-404-bunny-width: 80%;

$error-404-icon-margin: 8px;
$error-404-icon-width: 30px;
$error-404-icon-transform: 0.2s;
$error-404-icon-scale: 1.5;
