/* Links
   ========================================================================== */
/**
*
* Links variables: /assets/stylesheets/base/variables/links.scss
*/

/* Set the link color to our blue and not the bootstrap default */
a,
.btn-link {
  color: $default-color;
}

a:hover {
  color: $default-color-hover;
}
