/* Submenu
   ========================================================================== */
/* Variables file: assets/stylesheets/components/submenu/submenu.variables.scss */
.submenu {
  align-items: center;
  align-self: baseline;
  background: $submenu-background;
  border-bottom: 1px solid $submenu-border;
  display: flex;
  height: $submenu-height;
  position: sticky;
  top: 0;
  width: $submenu-width;
  z-index: $submenu-zindex;

  @media screen and (max-width: $sd-max) {
    top: $mobile-menu-height;
  }

  /* shared link styles */
  a {
    color: $submenu-text-color;

    &:hover {
      border-color: $submenu-hover-border;
      cursor: pointer;
      text-decoration: none;
    }
  }

  /* top level specific link styles */
  .submenu-item {
    border-bottom: $submenu-nav-border-width solid transparent;
    display: inline-block;
    padding: $submenu-item-padding;
    transition: all ease-in 0.1s;
    white-space: nowrap;
  }

  .sidebar-toggle,
  nav,
  .submenu-search-wrap {
    display: flex;
  }

  /* this toggle is currently static */
  .sidebar-toggle {
    padding: $submenu-toggle-padding;

    i {
      margin: 0;
    }
  }

  .main-submenu {
    display: none;

    a {

      &.selected {
        border-color: $submenu-selected-border-color;
      }
    }
  }

  /* shared search input styles */
  .submenu-search,
  .submenu-search-wrap {
    align-items: center;
  }

  .submenu-search {
    display: flex;
    justify-content: space-around;
    margin-left: auto;

    .submenu-search-wrap {
      border-bottom: 1px solid $submenu-search-border;
      height: $submenu-search-wrap-height;
    }

    input,
    a {
      border: 0;
    }

    input {
      outline: 0;
    }

    a {
      margin-left: auto;
      padding: 0;
    }
  }

  /* overwrite bootstrap styles */
  .dropdown-menu {
    border: 0;
    border-radius: 0;
    padding: $submenu-dropdown-padding;
    width: $submenu-input-width;

    li {
      > span {
        color: $submenu-dropdown-span;
      }

      a {
        padding: 0;

        &:hover {
          background: transparent;
          color: $submenu-hover-color;
        }
      }
    }
  }

  .visible {
    display: inline-block;
  }
}

/* Smart submenu nav dropdown */
.dropdown-more {
  a {
    margin-top: $submenu-more-dd-padding;

    &:first-child {
      margin-top: 0;
    }
  }

  // if the user submenu is only visible without search, then pull to right
  + .user-submenu {
    margin-left: auto;
  }
}

.submenu-scroll {
  box-shadow: $submenu-box-scroll;
  transition: box-shadow 0.3s ease-in-out;
}
