.graidents-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $gradient-wrap-margin;

  .gradients-display-percentage {
    display: flex;
    justify-content: space-between;
    width: $gradient-display-percentae-width;

    .percentage-middle {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: $gradient-display-percentae-middle-margin;
    }
  }

  .gradient-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: $gradient-box-margin;
    width: 95%;
  }

  .left-value,
  .right-value {
    align-items: center;
    display: flex;
    font-weight: $gradient-left-right-font-weight;
    justify-content: center;
    margin: $gradient-left-right-font-margin;
    width: $gradient-left-right-width;
  }

  .left-value::before,
  .right-value::after {
    content: '';
    height: $gradient-left-right-before-after-height-width;
    margin: $gradient-left-right-before-after-margin;
    width: $gradient-left-right-before-after-height-width;
  }

  .gradient-container {
    align-items: center;
    display: flex;
    height: $gradient-container-height;
    justify-content: center;
    margin: $gradient-container-margin;
    position: relative;
    width: 90%;

    &:after {
      border-left: 1px #000 dotted;
      content: '';
      display: block;
      height: $gradient-container-height;
    }
  }

  /* 500 to 500 */
  .gradient-1-1 {
    .left-value::before {
      background: $bc-red-500;
    }

    .right-value::after {
      background: $bc-orange-500;
    }

    .gradient-container {
      background: $gradient-1-1;
    }
  }

  .gradient-1-2 {
    .left-value::before {
      background: $bc-orange-500;
    }

    .right-value::after {
      background: $bc-yellow-500;
    }

    .gradient-container {
      background: $gradient-1-2;
    }
  }

  .gradient-1-3 {
    .left-value::before {
      background: $bc-red-500;
    }

    .right-value::after {
      background: $bc-yellow-500;
    }

    .gradient-container {
      background: $gradient-1-3;
    }
  }

  .gradient-1-4 {
    .left-value::before {
      background: $bc-blue-500;
    }

    .right-value::after {
      background: $bc-cerulean-500;
    }

    .gradient-container {
      background: $gradient-1-4;
    }
  }

  .gradient-1-5 {
    .left-value::before {
      background: $bc-blue-500;
    }

    .right-value::after {
      background: $bc-green-500;
    }

    .gradient-container {
      background: $gradient-1-5;
    }
  }

  .gradient-1-6 {
    .left-value::before {
      background: $bc-green-500;
    }

    .right-value::after {
      background: $bc-cerulean-500;
    }

    .gradient-container {
      background: $gradient-1-6;
    }
  }

  .gradient-1-7 {
    .left-value::before {
      background: $bc-violet-500;
    }

    .right-value::after {
      background: $bc-cerulean-500;
    }

    .gradient-container {
      background: $gradient-1-7;
    }
  }

  .gradient-1-8 {
    .left-value::before {
      background: $bc-violet-500;
    }

    .right-value::after {
      background: $bc-red-500;
    }

    .gradient-container {
      background: $gradient-1-8;
    }
  }

  /* 100 to 100 */
  .gradient-2-1 {
    .left-value::before {
      background: $bc-red-100;
    }

    .right-value::after {
      background: $bc-orange-100;
    }

    .gradient-container {
      background: $gradient-2-1;
    }
  }

  .gradient-2-2 {
    .left-value::before {
      background: $bc-orange-100;
    }

    .right-value::after {
      background: $bc-yellow-100;
    }

    .gradient-container {
      background: $gradient-2-2;
    }
  }

  .gradient-2-3 {
    .left-value::before {
      background: $bc-red-100;
    }

    .right-value::after {
      background: $bc-yellow-100;
    }

    .gradient-container {
      background: $gradient-2-3;
    }
  }

  .gradient-2-4 {
    .left-value::before {
      background: $bc-blue-100;
    }

    .right-value::after {
      background: $bc-cerulean-100;
    }

    .gradient-container {
      background: $gradient-2-4;
    }
  }

  .gradient-2-5 {
    .left-value::before {
      background: $bc-blue-100;
    }

    .right-value::after {
      background: $bc-green-100;
    }

    .gradient-container {
      background: $gradient-2-5;
    }
  }

  .gradient-2-6 {
    .left-value::before {
      background: $bc-green-100;
    }

    .right-value::after {
      background: $bc-cerulean-100;
    }

    .gradient-container {
      background: $gradient-2-6;
    }
  }

  .gradient-2-7 {
    .left-value::before {
      background: $bc-violet-100;
    }

    .right-value::after {
      background: $bc-cerulean-100;
    }

    .gradient-container {
      background: $gradient-2-7;
    }
  }

  .gradient-2-8 {
    .left-value::before {
      background: $bc-violet-100;
    }

    .right-value::after {
      background: $bc-red-100;
    }

    .gradient-container {
      background: $gradient-2-8;
    }
  }

  /* 500 to 100 */
  .gradient-3-1 {
    .left-value::before {
      background: $bc-blue-500;
    }

    .right-value::after {
      background: $bc-blue-100;
    }

    .gradient-container {
      background: $gradient-3-1;
    }
  }

  .gradient-3-2 {
    .left-value::before {
      background: $bc-green-500;
    }

    .right-value::after {
      background: $bc-green-100;
    }

    .gradient-container {
      background: $gradient-3-2;
    }
  }

  .gradient-3-3 {
    .left-value::before {
      background: $bc-cerulean-500;
    }

    .right-value::after {
      background: $bc-cerulean-100;
    }

    .gradient-container {
      background: $gradient-3-3;
    }
  }

  .gradient-3-4 {
    .left-value::before {
      background: $bc-violet-500;
    }

    .right-value::after {
      background: $bc-violet-100;
    }

    .gradient-container {
      background: $gradient-3-4;
    }
  }

  .gradient-3-5 {
    .left-value::before {
      background: $bc-red-500;
    }

    .right-value::after {
      background: $bc-red-100;
    }

    .gradient-container {
      background: $gradient-3-5;
    }
  }

  .gradient-3-6 {
    .left-value::before {
      background: $bc-orange-500;
    }

    .right-value::after {
      background: $bc-orange-100;
    }

    .gradient-container {
      background: $gradient-3-6;
    }
  }

  .gradient-3-7 {
    .left-value::before {
      background: $bc-yellow-500;
    }

    .right-value::after {
      background: $bc-yellow-100;
    }

    .gradient-container {
      background: $gradient-3-7;
    }
  }

  .gradient-3-8 {
    .left-value::before {
      background: $bc-gray-500;
    }

    .right-value::after {
      background: $bc-gray-100;
    }

    .gradient-container {
      background: $gradient-3-8;
    }
  }
}
