/* UX writing component variables
   ========================================================================== */
/**
* Colors and borders
*
* Meaningful colors: /assets/stylesheets/base/variables/branding.scss
* Main colors: /assets/stylesheets/base/variables/shadows.scss
*/

$acronyms-table-shadow: $box-shadow;
$acronyms-table-margin-top: $l;
$acronyms-table-tr-border-bottom: 1px solid $bc-gray-200;
$acronyms-table-th-font-weight: 300;
$acronyms-table-th-title-font-weight: 700;
$acronyms-table-padding: $s;
$acronyms-table-header-margin-top: $l;
